// Base.xcconfig
// Configurações compartilhadas entre todos os ambientes

SWIFT_VERSION = 5.10
IPHONEOS_DEPLOYMENT_TARGET = 17.0
MARKETING_VERSION = 1.0.0
VERSIONING_SYSTEM = apple-generic
CODE_SIGN_IDENTITY = iPhone Developer
CLANG_ENABLE_OBJC_WEAK = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

PRODUCT_BUNDLE_IDENTIFIER_BASE = br.com.wagnersales.challenge
CLIENT_ID = 1440649797671384
CLIENT_SECRET = 1GL6Ul4btjXoup9kuYzo5xY4NPHbNR8F
REFRESH_TOKEN = TG-693398d7eee872000193a2a5-3025335088
REDIRECT_URI = https:/$()/www.wagnersales.com.br
API_BASE_URL = https:/$()/api.mercadolibre.com
