#include "Base.xcconfig"

// Compilation Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PRODUCTION DEBUG

// Bundle Identifier
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_BASE).production

// Code Signing
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =

// Debug Settings
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
